@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.logo{
    display:flex;
    align-items:center;
}
.img{
    margin-left: 100px;
    margin-right:100px;
    height:80px; 
    width:80px;
}
.n{
    align-items:center;
    margin-left:195px;
    font-family: 'Orbitron', sans-serif;

    font-weight: 600; 
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #f5f5f5;
}
.jk{
    background-color:rgba(0, 0, 0, 0.4);
    width:100%;
    height:100px;
    top:0;
    left:0;
    position:fixed;
   
}
.f{
    color:whitesmoke;
}
.gj{
    
    background-image: url('ku.jpg');
    background-size: cover;        /* image fills the screen */
    background-repeat: no-repeat;  /* no repeating tiles */
    background-position: center;   /* center the image */
    background-attachment: fixed;  /* keeps image fixed while scrolling (parallax) */


}
.main{margin-top:180px;
}
.dd{
    color:#f5f5f5;
    font-size:larger;
    font-family: 'Orbitron', sans-serif;

    
}
.op{
    background-color:rgba(0, 0, 0, 0.5);
    font-size:medium;
    font-family: 'Orbitron', sans-serif;
}
.mk{
    margin-top: 300px;
    background-color: rgba(0, 0, 0, 0.4);
    width:100%;
    height:100px;
    bottom:0;
    left:0;
    right:0;
    

}
.h{
    color:whitesmoke;
    font-family:"orbitron",sans-serif;
    font-size:small;
    text-align: center;
    margin-left: 88px;
}